#name {

    padding-left: 225px;
}

#about {

    padding-left:740px;
}


#image {

    float: left;
}

#imageid {

width:400px;    
}


.navmargin {

    margin-bottom: 20px;}
    /*position:fixed;
    width:100%;
    z-index:1;
}
*/






.card:hover{

    color:white;
    background-color:teal;
    
}

.card-bodyone {

    background-color:blue;
    height:50px;
}



.card-header {

    background-color: cadetblue !important;

    text-align: center;

    font-family: sans-serif;

    font-size:6mm;

   
}



.card-img {

    height:200px;
}

.footer {

    height:80px;
    color:white;
    background-color: #007bff;
    text-align: center


}