#name {

    padding-left: 400px;
}

#about {

    padding-left:400px;
}


#image {

    float: left;
}

#imageid {

width:400px;    
}

.navmargin {

    margin-bottom:20px;
}

.card:hover{

    color:white;
    background-color:teal;
    
}

.card-bodyone {

    background-color:blue;
    height:50px;
}



.card-header {

    background-color: cadetblue;

    text-align: center;

    font-family: sans-serif;

    font-size:6mm;
}

.card-img {

    height:200px;
}